Repository aspnet-contrib/AspNet.Security.OAuth.Providers, pull requests merged in 2019-07, with the labels that each got.

#326 Add shopify provider
  AspNet.Security.OAuth.Providers.sln
  README.md
  src/AspNet.Security.OAuth.Shopify/AspNet.Security.OAuth.Shopify.csproj
  src/AspNet.Security.OAuth.Shopify/ShopifyAuthenticationDefaults.cs
  src/AspNet.Security.OAuth.Shopify/ShopifyAuthenticationExtensions.cs
  src/AspNet.Security.OAuth.Shopify/ShopifyAuthenticationHandler.cs
  src/AspNet.Security.OAuth.Shopify/ShopifyAuthenticationOptions.cs
  src/AspNet.Security.OAuth.Shopify/ShopifyAuthenticationProperties.cs
  test/AspNet.Security.OAuth.Providers.Tests/Infrastructure/ApplicationFactory.cs
  test/AspNet.Security.OAuth.Providers.Tests/Infrastructure/LoopbackRedirectHandler.cs
  test/AspNet.Security.OAuth.Providers.Tests/OAuthTests`1.cs
  test/AspNet.Security.OAuth.Providers.Tests/Shopify/ShopifyLoopbackRedirectHandler.cs
  test/AspNet.Security.OAuth.Providers.Tests/Shopify/ShopifyTests.cs
  test/AspNet.Security.OAuth.Providers.Tests/Shopify/bundle.json
Labels: enhancement, new provider

#330 Shopify - Fix TokenEndpoint format
  src/AspNet.Security.OAuth.Shopify/ShopifyAuthenticationHandler.cs
Labels: bug

#331 Shopify - Fix TokenEndpoint format (#330)
  src/AspNet.Security.OAuth.Shopify/ShopifyAuthenticationHandler.cs
Labels: bug

#329 Gitlab
  AspNet.Security.OAuth.Providers.sln
  README.md
  samples/Mvc.Client/Startup.cs
  src/AspNet.Security.OAuth.GitLab/AspNet.Security.OAuth.GitLab.csproj
  src/AspNet.Security.OAuth.GitLab/GitLabAuthenticationConstants.cs
  src/AspNet.Security.OAuth.GitLab/GitLabAuthenticationDefaults.cs
  src/AspNet.Security.OAuth.GitLab/GitLabAuthenticationExtensions.cs
  src/AspNet.Security.OAuth.GitLab/GitLabAuthenticationHandler.cs
  src/AspNet.Security.OAuth.GitLab/GitLabAuthenticationOptions.cs
  test/AspNet.Security.OAuth.Providers.Tests/GitLab/GitLabTests.cs
  test/AspNet.Security.OAuth.Providers.Tests/GitLab/bundle.json
Labels: new provider
