Repository aspnet-contrib/AspNet.Security.OAuth.Providers, pull requests merged in 2021-03, with the labels that each got.

#522 Add Alipay provider
  AspNet.Security.OAuth.Providers.sln
  README.md
  src/AspNet.Security.OAuth.Alipay/AlipayAuthenticationConstants.cs
  src/AspNet.Security.OAuth.Alipay/AlipayAuthenticationDefaults.cs
  src/AspNet.Security.OAuth.Alipay/AlipayAuthenticationExtensions.cs
  src/AspNet.Security.OAuth.Alipay/AlipayAuthenticationHandler.cs
  src/AspNet.Security.OAuth.Alipay/AlipayAuthenticationOptions.cs
  src/AspNet.Security.OAuth.Alipay/AspNet.Security.OAuth.Alipay.csproj
  test/AspNet.Security.OAuth.Providers.Tests/Alipay/AlipayTests.cs
  test/AspNet.Security.OAuth.Providers.Tests/Alipay/bundle.json
Labels: new provider

#524 Add Line provider
  AspNet.Security.OAuth.Providers.sln
  README.md
  docs/README.md
  docs/line.md
  src/AspNet.Security.OAuth.Line/AspNet.Security.OAuth.Line.csproj
  src/AspNet.Security.OAuth.Line/LineAuthenticationConstants.cs
  src/AspNet.Security.OAuth.Line/LineAuthenticationDefaults.cs
  src/AspNet.Security.OAuth.Line/LineAuthenticationExtensions.cs
  src/AspNet.Security.OAuth.Line/LineAuthenticationHandler.cs
  src/AspNet.Security.OAuth.Line/LineAuthenticationOptions.cs
  test/AspNet.Security.OAuth.Providers.Tests/Line/LineTests.cs
  test/AspNet.Security.OAuth.Providers.Tests/Line/bundle.json
Labels: new provider

#526 Added documentation on Sign In with Apple on iOS
  docs/sign-in-with-apple.md
Labels: enhancement

#530 Added ExchangeCodeAsync Method.
  src/AspNet.Security.OAuth.Untappd/UntappdAuthenticationHandler.cs
  test/AspNet.Security.OAuth.Providers.Tests/Untappd/bundle.json
Labels: bug

#532 Added Moodle support
  AspNet.Security.OAuth.Providers.sln
  README.md
  docs/moodle.md
  src/AspNet.Security.OAuth.Moodle/AspNet.Security.OAuth.Moodle.csproj
  src/AspNet.Security.OAuth.Moodle/MoodleAuthenticationConstants.cs
  src/AspNet.Security.OAuth.Moodle/MoodleAuthenticationDefaults.cs
  src/AspNet.Security.OAuth.Moodle/MoodleAuthenticationExtensions.cs
  src/AspNet.Security.OAuth.Moodle/MoodleAuthenticationHandler.cs
  src/AspNet.Security.OAuth.Moodle/MoodleAuthenticationOptions.cs
  src/AspNet.Security.OAuth.Moodle/MoodlePostConfigureOptions.cs
  test/AspNet.Security.OAuth.Providers.Tests/Moodle/MoodleAuthenticationOptionsTests.cs
  test/AspNet.Security.OAuth.Providers.Tests/Moodle/MoodlePostConfigureOptionsTests.cs
  test/AspNet.Security.OAuth.Providers.Tests/Moodle/MoodleTests.cs
  test/AspNet.Security.OAuth.Providers.Tests/Moodle/bundle.json
Labels: new provider

#533 Improvements for Moodle Provider
  README.md
  docs/moodle.md
  src/AspNet.Security.OAuth.Moodle/MoodleAuthenticationConstants.cs
  src/AspNet.Security.OAuth.Moodle/MoodleAuthenticationOptions.cs
  test/AspNet.Security.OAuth.Providers.Tests/Moodle/MoodleTests.cs
  test/AspNet.Security.OAuth.Providers.Tests/Moodle/bundle.json
Labels: enhancement
