Repository aspnet-contrib/AspNet.Security.OAuth.Providers, pull requests merged in 2021-06, with the labels that each got.

#539 Add a WorkWeixin Provider
  AspNet.Security.OAuth.Providers.sln
  README.md
  docs/README.md
  docs/workweixin.md
  src/AspNet.Security.OAuth.WorkWeixin/AspNet.Security.OAuth.WorkWeixin.csproj
  src/AspNet.Security.OAuth.WorkWeixin/WorkWeixinAuthenticationConstants.cs
  src/AspNet.Security.OAuth.WorkWeixin/WorkWeixinAuthenticationDefaults.cs
  src/AspNet.Security.OAuth.WorkWeixin/WorkWeixinAuthenticationExtensions.cs
  src/AspNet.Security.OAuth.WorkWeixin/WorkWeixinAuthenticationHandler.cs
  src/AspNet.Security.OAuth.WorkWeixin/WorkWeixinAuthenticationOptions.cs
  test/AspNet.Security.OAuth.Providers.Tests/WorkWeixin/WorkWeixinTests.cs
  test/AspNet.Security.OAuth.Providers.Tests/WorkWeixin/bundle.json
Labels: new provider

#543 added Keycloak provider
  AspNet.Security.OAuth.Providers.sln
  docs/keycloak.md
  src/AspNet.Security.OAuth.Keycloak/AspNet.Security.OAuth.Keycloak.csproj
  src/AspNet.Security.OAuth.Keycloak/KeycloakAuthenticationDefaults.cs
  src/AspNet.Security.OAuth.Keycloak/KeycloakAuthenticationExtensions.cs
  src/AspNet.Security.OAuth.Keycloak/KeycloakAuthenticationHandler.cs
  src/AspNet.Security.OAuth.Keycloak/KeycloakAuthenticationOptions.cs
  src/AspNet.Security.OAuth.Keycloak/KeycloakPostConfigureOptions.cs
  test/AspNet.Security.OAuth.Providers.Tests/Keycloak/KeycloakTests.cs
  test/AspNet.Security.OAuth.Providers.Tests/Keycloak/bundle.json
Labels: new provider

#549 Notion provider
  AspNet.Security.OAuth.Providers.sln
  README.md
  src/AspNet.Security.OAuth.Notion/AspNet.Security.OAuth.Notion.csproj
  src/AspNet.Security.OAuth.Notion/NotionAuthenticationConstants.cs
  src/AspNet.Security.OAuth.Notion/NotionAuthenticationDefaults.cs
  src/AspNet.Security.OAuth.Notion/NotionAuthenticationExtensions.cs
  src/AspNet.Security.OAuth.Notion/NotionAuthenticationHandler.cs
  src/AspNet.Security.OAuth.Notion/NotionAuthenticationOptions.cs
  test/AspNet.Security.OAuth.Providers.Tests/Notion/NotionTests.cs
  test/AspNet.Security.OAuth.Providers.Tests/Notion/bundle.json
Labels: new provider

#553 Add streamlabs provider
  AspNet.Security.OAuth.Providers.sln
  README.md
  src/AspNet.Security.OAuth.Streamlabs/AspNet.Security.OAuth.Streamlabs.csproj
  src/AspNet.Security.OAuth.Streamlabs/StreamlabsAuthenticationConstants.cs
  src/AspNet.Security.OAuth.Streamlabs/StreamlabsAuthenticationDefaults.cs
  src/AspNet.Security.OAuth.Streamlabs/StreamlabsAuthenticationExtensions.cs
  src/AspNet.Security.OAuth.Streamlabs/StreamlabsAuthenticationHandler.cs
  src/AspNet.Security.OAuth.Streamlabs/StreamlabsAuthenticationOptions.cs
  test/AspNet.Security.OAuth.Providers.Tests/Streamlabs/StreamlabsTests.cs
  test/AspNet.Security.OAuth.Providers.Tests/Streamlabs/bundle.json
Labels: new provider

#551 For #544. Add Coinbase provider
  AspNet.Security.OAuth.Providers.sln
  README.md
  src/AspNet.Security.OAuth.Coinbase/AspNet.Security.OAuth.Coinbase.csproj
  src/AspNet.Security.OAuth.Coinbase/CoinbaseAuthenticationConstants.cs
  src/AspNet.Security.OAuth.Coinbase/CoinbaseAuthenticationDefaults.cs
  src/AspNet.Security.OAuth.Coinbase/CoinbaseAuthenticationExtensions.cs
  src/AspNet.Security.OAuth.Coinbase/CoinbaseAuthenticationHandler.cs
  src/AspNet.Security.OAuth.Coinbase/CoinbaseAuthenticationOptions.cs
  test/AspNet.Security.OAuth.Providers.Tests/AspNet.Security.OAuth.Providers.Tests.csproj
  test/AspNet.Security.OAuth.Providers.Tests/Coinbase/CoinbaseTests.cs
  test/AspNet.Security.OAuth.Providers.Tests/Coinbase/bundle.json
Labels: new provider

#558 Call to Coinbase user profile should be a GET request
  src/AspNet.Security.OAuth.Coinbase/CoinbaseAuthenticationHandler.cs
  test/AspNet.Security.OAuth.Providers.Tests/Coinbase/bundle.json
Labels: bug

#559 Save id_token in Apple provider
  src/AspNet.Security.OAuth.Apple/AppleAuthenticationHandler.cs
  test/AspNet.Security.OAuth.Providers.Tests/Apple/AppleTests.cs
  test/AspNet.Security.OAuth.Providers.Tests/SuperOffice/SuperOfficeTests.cs
Labels: bug

#564 Fix Notion code exchange
  src/AspNet.Security.OAuth.Notion/NotionAuthenticationHandler.cs
Labels: bug

#566 #565 Chang client_id to app_id
  src/AspNet.Security.OAuth.Alipay/AlipayAuthenticationHandler.cs
Labels: bug

#567 Add missing annotations
  src/AspNet.Security.OAuth.Alipay/AlipayAuthenticationHandler.cs
  src/AspNet.Security.OAuth.Notion/NotionAuthenticationHandler.cs
Labels: enhancement

#569 Basic/initial Mixcloud support
  AspNet.Security.OAuth.Providers.sln
  README.md
  src/AspNet.Security.OAuth.Mixcloud/AspNet.Security.OAuth.Mixcloud.csproj
  src/AspNet.Security.OAuth.Mixcloud/MixcloudAuthenticationConstants.cs
  src/AspNet.Security.OAuth.Mixcloud/MixcloudAuthenticationDefaults.cs
  src/AspNet.Security.OAuth.Mixcloud/MixcloudAuthenticationExtensions.cs
  src/AspNet.Security.OAuth.Mixcloud/MixcloudAuthenticationHandler.cs
  src/AspNet.Security.OAuth.Mixcloud/MixcloudAuthenticationOptions.cs
  test/AspNet.Security.OAuth.Providers.Tests/Mixcloud/MixcloudTests.cs
  test/AspNet.Security.OAuth.Providers.Tests/Mixcloud/bundle.json
Labels: new provider
