Repository aspnet-contrib/AspNet.Security.OAuth.Providers, pull requests merged in 2024-06, with the labels that each got.

#889 Attest artifacts
  .github/workflows/build.yml
Labels: enhancement, dependencies, github_actions

#834 Support for the new LinkedIn API version format
  src/AspNet.Security.OAuth.LinkedIn/LinkedInAuthenticationConstants.cs
  src/AspNet.Security.OAuth.LinkedIn/LinkedInAuthenticationDefaults.cs
  src/AspNet.Security.OAuth.LinkedIn/LinkedInAuthenticationHandler.cs
  src/AspNet.Security.OAuth.LinkedIn/LinkedInAuthenticationOptions.cs
  test/AspNet.Security.OAuth.Providers.Tests/LinkedIn/LinkedInTests.cs
  test/AspNet.Security.OAuth.Providers.Tests/LinkedIn/bundle.json
Labels: enhancement

#892 Implement Pipedrive OAuth provider
  AspNet.Security.OAuth.Providers.sln
  README.md
  src/AspNet.Security.OAuth.Pipedrive/AspNet.Security.OAuth.Pipedrive.csproj
  src/AspNet.Security.OAuth.Pipedrive/PipedriveAuthenticationDefaults.cs
  src/AspNet.Security.OAuth.Pipedrive/PipedriveAuthenticationExtensions.cs
  src/AspNet.Security.OAuth.Pipedrive/PipedriveAuthenticationHandler.cs
  src/AspNet.Security.OAuth.Pipedrive/PipedriveAuthenticationOptions.cs
  test/AspNet.Security.OAuth.Providers.Tests/Pipedrive/PipedriveTests.cs
  test/AspNet.Security.OAuth.Providers.Tests/Pipedrive/bundle.json
Labels: new provider

#895 Implement Airtable OAuth provider
  AspNet.Security.OAuth.Providers.sln
  README.md
  src/AspNet.Security.OAuth.Airtable/AirtableAuthenticationDefaults.cs
  src/AspNet.Security.OAuth.Airtable/AirtableAuthenticationExtensions.cs
  src/AspNet.Security.OAuth.Airtable/AirtableAuthenticationHandler.cs
  src/AspNet.Security.OAuth.Airtable/AirtableAuthenticationOptions.cs
  src/AspNet.Security.OAuth.Airtable/AspNet.Security.OAuth.Airtable.csproj
  test/AspNet.Security.OAuth.Providers.Tests/Airtable/AirtableTests.cs
  test/AspNet.Security.OAuth.Providers.Tests/Airtable/bundle.json
Labels: new provider

#896 Implement Calendly OAuth provider
  AspNet.Security.OAuth.Providers.sln
  README.md
  src/AspNet.Security.OAuth.Calendly/AspNet.Security.OAuth.Calendly.csproj
  src/AspNet.Security.OAuth.Calendly/CalendlyAuthenticationDefaults.cs
  src/AspNet.Security.OAuth.Calendly/CalendlyAuthenticationExtensions.cs
  src/AspNet.Security.OAuth.Calendly/CalendlyAuthenticationHandler.cs
  src/AspNet.Security.OAuth.Calendly/CalendlyAuthenticationOptions.cs
  test/AspNet.Security.OAuth.Providers.Tests/Calendly/CalendlyTests.cs
  test/AspNet.Security.OAuth.Providers.Tests/Calendly/bundle.json
Labels: new provider

#897 Implement Typeform OAuth provider
  AspNet.Security.OAuth.Providers.sln
  README.md
  src/AspNet.Security.OAuth.Typeform/AspNet.Security.OAuth.Typeform.csproj
  src/AspNet.Security.OAuth.Typeform/TypeformAuthenticationDefaults.cs
  src/AspNet.Security.OAuth.Typeform/TypeformAuthenticationExtensions.cs
  src/AspNet.Security.OAuth.Typeform/TypeformAuthenticationHandler.cs
  src/AspNet.Security.OAuth.Typeform/TypeformAuthenticationOptions.cs
  test/AspNet.Security.OAuth.Providers.Tests/Typeform/TypeformTests.cs
  test/AspNet.Security.OAuth.Providers.Tests/Typeform/bundle.json
Labels: new provider

#836 Zoom implementation of AspNet.Security.OAuth
  AspNet.Security.OAuth.Providers.sln
  README.md
  src/AspNet.Security.OAuth.Zoom/AspNet.Security.OAuth.Zoom.csproj
  src/AspNet.Security.OAuth.Zoom/ZoomAuthenticationConstants.cs
  src/AspNet.Security.OAuth.Zoom/ZoomAuthenticationDefaults.cs
  src/AspNet.Security.OAuth.Zoom/ZoomAuthenticationExtensions.cs
  src/AspNet.Security.OAuth.Zoom/ZoomAuthenticationHandler.cs
  src/AspNet.Security.OAuth.Zoom/ZoomAuthenticationOptions.cs
  test/AspNet.Security.OAuth.Providers.Tests/Zoom/ZoomTests.cs
  test/AspNet.Security.OAuth.Providers.Tests/Zoom/bundle.json
Labels: new provider

#907 Implement Docusign OAuth provider
  AspNet.Security.OAuth.Providers.sln
  README.md
  docs/README.md
  docs/docusign.md
  eng/Versions.props
  src/AspNet.Security.OAuth.Docusign/AspNet.Security.OAuth.Docusign.csproj
  src/AspNet.Security.OAuth.Docusign/DocusignAuthenticationDefaults.cs
  src/AspNet.Security.OAuth.Docusign/DocusignAuthenticationEnvironment.cs
  src/AspNet.Security.OAuth.Docusign/DocusignAuthenticationExtensions.cs
  src/AspNet.Security.OAuth.Docusign/DocusignAuthenticationHandler.cs
  src/AspNet.Security.OAuth.Docusign/DocusignAuthenticationOptions.cs
  src/AspNet.Security.OAuth.Docusign/DocusignAuthenticationPostConfigureOptions.cs
  test/AspNet.Security.OAuth.Providers.Tests/Docusign/DocusignAuthenticationPostConfigureOptionsTests.cs
  test/AspNet.Security.OAuth.Providers.Tests/Docusign/DocusignTests.cs
  test/AspNet.Security.OAuth.Providers.Tests/Docusign/bundle.json
Labels: new provider
